 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 </head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

	 <script type="text/javascript">
		var array = [1,1,1,2,2,1]
		var arr1 = [];
		var arr2 = [];

		for( i = 0; i < array.length; i++)
		var firstV = array[i]

	 	_.forEach(array, function(v) {
	 		if(firstV === v ) {
	      arr1.push(v)
		 	 	console.log(arr1, 'arr1')
	 		}
	 		else {
	 			arr2.push(v)
		 	 	console.log(arr2, 'arr2')
	 		}
	 	})

	 </script>
 <body>
 
 </body>
 </html>